.App {
  text-align: center;
}

.App-logo {
  height: 13vmin;
  margin: 5px;
}

.Logo-Uninorte {
  height: 12vmin;
  margin: 5px;
  margin-right: 5px;
}

.App-header {
  background-color: #08b504;
  min-height: 10vh;
}

.Body-color {
  background-color: #e2f2e2;
  min-height: 80vh;
}

.App-link {
  color: #61dafb;
}
